<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <a href="https://www.uos.ac.kr/" target="_blank"><img src="/images/logo_horizontal_final.png" width="210px" style="margin-top: 10px;" alt="University of Seoul"></a>
		</div>
		<div class="col-sm-4">
		  <p style="font-size: 12px; text-align: center;">
			Visual and General Intelligence Lab
			<br>
			Department of Computer Science and Engineering
			<br>
			University of Seoul
		  </p>
		</div>
		<div class="col-sm-4">
		  <p style="font-size: 12px; text-align: right;">
			(02504) Room B109, IT Building, University of Seoul,
			<br>
			163 Seoulsiripdaero, Dongdaemun-gu, Seoul, Korea
			<br>
			+82-2-6490-2455
		  </p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
